<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUIMvc" type="FineUIMvc.ConfigSection, FineUIMvc" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Default" 
      Language="zh_CN" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      FormRedStarPosition="AfterText" 
      EnableAjax="true" 
      EnableAjaxLoading="true" 
      AjaxTimeout="120" 
      AjaxLoadingType="Default" 
      AjaxLoadingText="" 
      ShowAjaxLoadingMaskText=false
      AjaxLoadingMaskText="" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/themes" 
      IconBasePath="~/res/icon" 
      JSBasePath="~/res/js"
      IEEdge="true"
      EnableShim="false"  
      EnableCompactMode="false"
      EnableLargeMode="false"
      MobileAdaption="true"
      EnableAnimation="false"
      LoadingImageNumber="1"
  -->
  <FineUIMvc DebugMode="true" Theme="Cupertino" />
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AspNetMvc.QuickStart.Models.StudentDbContext.mdf;Initial Catalog=AspNetMvc.QuickStart.Models.StudentDbContext;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="mongo" value="mongodb://localhost/Microservice" />
    <add key="BasicTypes" value="设备类型,服务类型,业主方" />
    <add key="ExportPath" value="excels/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="409600000"/>
        </requestFiltering>
      </security>
    </system.webServer>
  <system.web>
    <httpModules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/" timeout="120" protection="All" path="/" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestPathInvalidCharacters="" executionTimeout="36000" delayNotificationTimeout="36000" maxRequestLength="409600000" targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>