#header table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

    #header table td {
        padding: 0;
    }

#header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}





#header .f-btn {
    border-width: 0;
    padding: 10px;
}

#header .icontopaction .f-btn-icon {
    width: 22px;
    font-size: 22px;
    line-height: 22px;
    height: 22px;
}

#header .icontopaction .f-btn-text {
    font-size: 12px;
    line-height: 16px;
}


#header .icononlyaction .f-btn-icon,
#header .icononlyaction .f-btn-text {
    font-size: 30px;
    line-height: 40px;
    height: 40px;
}


#header .userpicaction .f-btn-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .userpicaction .f-btn-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 40px;
}


ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.list li {
        margin-bottom: 5px;
    }


.bottomtable {
    width: 100%;
    font-size: 12px;
}
